.header{
    max-width: 100%;
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.list{
    display: flex;
    justify-content: space-between;
    width: 900px;
    gap:2rem;
    list-style: none;
    font-size: 20px;
}

.list a{
    text-decoration: none;
    color:black;
    
}

.list a:hover,
.list a:active{
    color:brown;
    text-decoration: underline;
    font-size: 22px;
}

@media (max-width:700px) {
    .header{
    padding: 1rem;
    flex-wrap: wrap;
    }
    .list{
        width: 400px;
        gap: .70;
    }
    .list a:hover,
.list a:active{
    font-size: 15px;
}
}